<div class="popup">
    <div class="popup__header">
        <img src="images/cancel.svg" class="exit">
    </div>
    <div class="popup__content">
        <img src="" class="popup__image">
        <div class="popup__info">
            <div class="popup__street">STREET: </div>
            <div class="popup__city">CITY: </div>
            <div class="popup__state">STATE: </div>
            <div class="popup__mail">EMAIL: </div>
            <div class="popup__phone">PHONE: </div>
        </div>
    </div>
</div>